.home-container {
  font-family: "Poppins", sans-serif;
  text-align: center;
  background-color: #f7f9fc;
  min-height: 100vh;
}

.home-content {
  padding-top: 80px;
}

.home-content h1 {
  font-size: 2rem;
  color: #2e86de;
  margin-bottom: 10px;
}

.home-content p {
  color: #555;
  font-size: 1rem;
  margin-bottom: 20px;
}

.open-report-btn {
  background-color: #2e86de;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.open-report-btn:hover {
  background-color: #1b66c9;
}
